h1, p{
   text-align: center; 
}
ol:hover {
    background-color: blue;
}
ol:active{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
ol, ul{
    list-style: none;
}